@font-face {
                font-family: TTNormsPro;
                font-display: swap;
                src: url("../fonts/TTNormsPro-Bold.woff2") format("woff2"),
                    url("../fonts/TTNormsPro-Bold.woff") format("woff");
                font-weight: 700;
                font-style: normal;
              }
@font-face {
                font-family: TTNormsPro;
                font-display: swap;
                src: url("../fonts/TTNormsPro-Regular.woff2") format("woff2"),
                    url("../fonts/TTNormsPro-Regular.woff") format("woff");
                font-weight: 400;
                font-style: normal;
              }
